# Python virtual environment
venv/*
__pycache__/*

# IDE environment
.idea/*

# Download images
assets/drone_video_short.mp4

# Weights
weights/*
!weights/yolov3-tiny.weights
!weights/yolo-drone.weights

# tensorflow utils
t_utils/__pycache__/*
